/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(./images/cover-image-light.png);
  --bg-color: #ff8dcb;
  --text-color: #353430;
  --accent-color: #353430;
  --h1-color: #ffc2e6;
  --current-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-image: url(./images/cover-image-light.png);
    --bg-color: #ff8dcb;
    --text-color: #353430;
    --accent-color: #353430;
    --h1-color: #ffc2e6;
    --current-color: #fff1f7;
    rgba(50, 49, 45, 0.4)
  }

  .page {
    /* Вам также нужно будет написать ряд подобных селекторов */
    background-color: var(--current-color);
  }

  .decorated-zone::before {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  .decorated-zone::after {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--accent-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .header__theme-menu {
    color: var(--accent-color);
  }

  .section__title {
    color: var(--accent-color);
  }

  .card__text {
    color: var(--text-color);
  }

  .header__check::before {
    display: none;
  }

  .header__check::after {
    display: none;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--current-color);
}

.theme-light .decorated-zone::before {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.theme-light .decorated-zone::after {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(53, 52, 48, 0.4);
}

.theme-light .header__theme-menu {
  color: var(--accent-color);
}

.theme-light .section__title {
  color: var(--accent-color);
}

.theme-light .card__text {
  color: var(--accent-color);
}

.theme-light .header__check::before {
  display: none;
}

.theme-light .header__check::after {
  display: none;
}
